* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
  background-image: url("./resources/back.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
}
