.table {
  width: 75%;
  border-collapse: collapse;
  margin: 6rem 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 2rem;
}

.table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.table th {
  padding: 12px 15px;
  font-size: 20px;
}
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: center;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
