.SignUp {
  padding-top: 2px;
}

.buttonStyle {
  border-color: #e5e5e5;
  background: #fca311;
  padding: 1rem;
  border-radius: 20%;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.buttonStyle:hover {
  border-color: #e5e5e5;
  background: #e28d03;
}

.actions {
  text-align: center;
}

label {
  font-size: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
